    @font-face {
        font-family: Kiona-Bold;
        src: url(https://s3.amazonaws.com/static.threshingfloor.io/Kiona-Bold.ttf);
    }

    @font-face {
        font-family: Kimberly-Black;
        src: url(https://s3.amazonaws.com/static.threshingfloor.io/Kimberly-Black.otf);
    }

    @font-face {
        font-family: Open-Sans;
        src: url(https://s3.amazonaws.com/static.threshingfloor.io/OpenSans-Regular.ttf);
    }

    .green {
        color: #CEFA45;
    }

    .threshing {
        color: #F8FAFF;
        font-family: Open-Sans, Ubuntu, Arial;
        padding: 4px;
        background: #1D252F;
    }

    .chip {
        font-family: Kimberly-Black;
        margin-right: 8;
        background-color: #9A33F1;
        padding: 3px;
        border-radius: 3px;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 6px;
        list-style: none;
    }

    .top {
        margin-top: 2px;                
    }

    .heading {
        font-family: Kiona-Bold;
    }

    .footer {
        padding: 8px 0px;
        overflow-wrap: break-word;
    }

    .sentence {
      overflow-wrap: break-word;
    }

    a {
        color: #CEFA45;
        font-weight: bold;
        text-decoration: none;
        text-decoration-color: white;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: #CEFA45;
    }

    .logo {
        max-width: 200px;
        width: 100%;
    }

    .soundwave {
        max-width: 300px;
        width: 80%;
    }
